@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;  
}
.left{
    flex: 1;
}
.left img{
    width: 800px;
    height: 900px;
    object-fit: cover;
}
.right{
    width: 100%;
    height: 100vh;
    flex: 1.5;
    background-color: rgb(55, 59, 64);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 50px;
    font-family: 'Archivo', sans-serif;
}
.name{
    font-family: 'Anton', sans-serif;
    padding: 50px;
    background-color: rgb(55, 59, 64);
    position: absolute;
    top: 20%;
    transform: translateX(-200px);
    border-radius: 500px;
}
.name h1{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.other{
    padding:  0px 0px 100px 50px;
}
.position p{
    color: rgb(15, 180, 192);
    padding: 10px 0px;
    font-size: 24px;
}
.bio p{
    font-size: 22px;
    color: white;
    padding: 10px 0px;
    margin-bottom: 50px;
}
.right a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: .1s all ease-in-out;
}
.right a:hover{
    border: 1px solid rgb(15, 180, 192);
}
.social-btn i{
    margin-top: 50px;
    font-size: 50px;
    padding: 0px 10px;
    color: gray;
    transition: .3s all ease-in-out;
}
.social-btn i:hover {
    color: rgb(15, 180, 192);
}
@media screen and (max-width:1500px){
    .other{
        padding: 0px 20px 50px 20px;
    }
    .other .position{
        font-size: 18px;
    }
    .bio{
        font-size: 17px;
    }
    .right{
        padding: 20px;
    }
    .name{
        transform: translateX(-150px);
    }
    .left img{
        width: 600px;
        height: 800px;
    }
}
@media screen and (max-width: 1200px){
    .main{
        flex-direction: column;
        min-height: 100vh;
    }
    .left img{
        width: 500px;
        height: 600px;
    }
    .other{
        margin-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .right{
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .name{
        transform: translateX(0);
        top: 50%;
        padding: 20px;
    }
    .name h1{
        font-size: 50px;
    }
    .bio p{
        margin-bottom: 20px;
    }
    .social-btn i{
        margin-top: 20px;
    }
}
@media screen and (max-width: 720px){
    .name h1{
        font-size: 40px;
    }
    .name{
        top: 48%;
    }
}
@media screen and (max-width: 500px){
   .left img{
       width: 400px;
       height: 600px;
    }
}
@media screen and (max-width: 400px){
   .left img{
       width: 300px;
       height: 500px;
    }
   .name h1{
        font-size: 30px;
    }
    .name{
        top: 42%;
    }
}